{% load static %} {% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <!-- medium editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8" />

    <link rel="stylesheet" href="{% static 'styles.css' %} " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet" />
    <!--test font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap" rel="stylesheet" />
</head>

<body>
    <header class="">
        {% if user.is_authenticated %}
        <nav class="">
            <div class="mx-auto">
                <div class="flex justify-between bg-blue-500 py-4 px-4 bg-gradient-to-r from-green-400 to-blue-500">
                    <div class="flex justify-between">
                        <a class="text-red-800 mr-4" href="{% url 'blog:post_list' %}">My Blog</a>
                        <a class="mr-4" href="{% url 'blog:about' %}" class="">About</a>
                        <a class="mr-4" href="https://linkedin.com" class="">LinkedIn</a>
                        <a class="mr-4" href="https://github.com" class="">Github</a>
                    </div>

                    <div class="flex justify-between">
                        <a class="mr-4" href="{% url 'blog:post_new' %}" class=>New Post</a>
                        <a class="mr-4" href="{% url 'blog:post_draft_list' %}" class="">Drafts</a>
                        <a class="mr-4" href="{% url 'logout' %}" class="">Logout</a>
                        <a class="mr-4" href="#" class="">Welcome:{{user.username}}</a> {% else %}
                        <a class="mr-4" href="{% url 'login' %}" class="">Login</a> {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Content Block -->
    <div class="container mx-auto">
        <div class="grid-rows-1">
            <div class="md-8">
                <div class="blog_posts">{% block content %} {% endblock %}</div>
            </div>
        </div>
    </div>
</body>

</html>