{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <!-- medium editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
      type="text/css"
      media="screen"
      charset="utf-8"
    />

    <!-- fonts --> 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
      rel="stylesheet"
    /> 
  <!--test font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap" rel="stylesheet">


    <!-- tailwindCSS -->
    <!-- <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->
  </head>
  <body>
    <header class="text-gray-700 body-font border-b border-gray-200">
      {% if user.is_authenticated %}
      <div
        class="
          container
          mx-auto
          flex flex-wrap
          p-5
          flex-col
          md:flex-row
          items-center
        "
      >
        <nav
          class="
            flex
            titl e-font
            font-medium
            items-center
            text-gray-900
            mb-4
            md:mb-0
          "
        >
          <a class="mr-5 hover:text-blue-900 text-2xl  "  href="{% url 'blog:post_list' %}"
            >My Blog</a
          >
          <a href="{% url 'blog:about' %}" class="mr-5 hover:text-blue-900 text-xl">About</a
          >
          <a
            href="https://linkedin.com"
            class="mr-5 hover:text-blue-900 text-xl"
            >LinkedIn</a
          >
          <a href="https://github.com" class="mr-5 hover:text-blue-900 text-xl"
            >Github</a
          >
        </nav>
        <nav
          class="
            md:ml-auto
            flex flex-wrap
            items-center
            text-base
            justify-center
          "
        >
          <a
            href="{% url 'blog:post_new' %}"
            class="mr-5 hover:text-blue-900 text-lg"
            >New Post</a
          >
          <a
            href="{% url 'blog:post_draft_list' %}"
            class="mr-5 hover:text-blue-900 text-lg"
            >Drafts</a
          >
          <a href="{% url 'logout' %}" class="mr-5 hover:text-blue-900 text-lg"
            >Logout</a
          >
          <a href="#" class="mr-5 hover:text-blue-900 text-lg"
            >Welcome:{{user.username}}</a
          >
          {% else %}
          <a href="{% url 'login' %}" class="mr-5 hover:text-blue-900 text-lg"
            ><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
          >
        </nav>
        {% endif %}
      </div>
    </header>

    <!-- Content Block -->
    <div class="container mx-auto">
      <div class="grid-rows-1">
        <div class="md-8">
          <div class="blog_posts">{% block content %} {% endblock %}</div>
        </div>
      </div>
    </div>
  </body>
</html>
