{% extends "blog/base.html" %} {% block content %}

<div
  class="
    py-2
    align-middle
    inline-block
    min-w-full
    sm:px-6
    lg:px-8
    my-2
    sm:-mx-6
    lg:-mx-8
  "
>
  {% for post in post_list %}
  <div class="border-2 border-gray-200 sm:rounded-lg my-4 mx-auto px-6">
    <div class="md:container md:mx-auto mt-5">
      <div class="">
        <h1 class="text-gray-900 font-medium font-nunito">
          <a
            class="font text-2xl"
            href="{% url 'blog:post_detail' pk=post.pk %}"
            >{{ post.title }}</a
          >
        </h1>
      </div>
    </div>

    <div
      class="
        px-2
        my-2
        inline-flex
        text-xs
        leading-5
        font-semibold
        rounded-full
        bg-gray-200
        text-green-600
      "
    >
      <h4>Published on :{{post.publish_date | date:"d/M/Y"}}</h4>
    </div>

    <div
      class="
        px-2
        py-1
        my-2
        mb-4
        text-md
        font-semibold
        rounded-full
        bg-gradient-to-r
        from-purple-300
        to-red-300
        text-grey-800
        w-24
        shadow-md
        hover:text-white
      "
    >
      <a href="{% url 'blog:post_detail' pk=post.pk %}"
        >Comments {{post.approved_comment}}</a
      >
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
