{% extends "blog/base.html" %} {% block content %}

<div class="post md:container md:mx-auto">
  {% for post in post_list %}
  <div class="md:container md:mx-auto mt-5">
    <h1>
      <a
        class="hover:text-purple-900 font text-2xl"
        href="{% url 'blog:post_detail' pk=post.pk %}"
        >{{ post.title }}</a
      >
    </h1>
  </div>

  <div class="">
    <h4>Published on :{{post.publish_date | date:"d/M/Y"}}</h4>
  </div>

  <div class="">
    <a href="{% url 'blog:post_detail' pk=post.pk %}"
      >Comments {{post.approved_comment}}</a
    >
  </div>
  {% endfor %}
</div>

{% endblock content %}
